body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    display: block;
    width: 98%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px;
    width: 100%;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
